.ad-card {
    width: 30rem;
}
.ad-card-pricing {
  margin-top: 4rem;
}

@media screen and (max-width: 800px) {
    .ad-card {
      width: 22rem;
    }
    .dual-button {
      width: 100%;
    }
    .ad-card-pricing {
      margin-top: 0rem;
    }
}

