.card-class {
    margin-top: 40px;
}

.desc-key {
    font-weight: 600;
}
.desc-item {
    font-weight: lighter;
}

.item-desc {
    margin-top: 30px;
}

#mapid, #map {
    max-height: 283px;
    width: 100%;
    object-fit: cover;
}

.side-card {
    position: relative;
    top: -220px;
}

.side-card-mobile {
    position: relative;
    top: -100px;
    margin-bottom: -75px;
    display: none;
}

@media screen and (max-width: 800px) {
    .side-card {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .side-card-mobile {
        display: block;
    }
}