@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;1,600&display=swap');

body{
  font-family: IBM Plex Sans, sans-serif;
  margin: 0px 8%;
  background-color: black;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
  }
  .mobile-card {
    width: 100%;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.alert {
  padding: 0.8 rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #eee;
  color: #333;
}
.alert-danger {
  background: #ffa66b;
  color: #fff;
}

.prevent-hor-scroll {
  overflow-x: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.side-card {
  position: relative;
  top: -220px;
}

.side-card-mobile {
  position: relative;
  top: -100px;
  margin-bottom: -75px;
  display: none;
}

@media screen and (max-width: 800px) {
  .side-card {
      display: none;
  }
}

@media screen and (max-width: 800px) {
  .side-card-mobile {
      display: block;
  }
}

@media screen and (max-width: 800px) {
  .warehouse-details-pc {
      display: none;
  }
  .warehouse-details-mob {
      display: block;
      height: 30rem;
      overflow: hidden;
      overflow-y: scroll;
  }
}

@media screen and (min-width: 800px) {
  .warehouse-details-pc {
      display: block;
  }
  .warehouse-details-mob {
      display: none;
      height: 30rem;
      overflow: hidden;
      overflow-y: scroll;
  }
  .landing-page {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

@media screen and (min-width: 800px) {
  .landing-page {
    padding-left: 5rem;
    padding-right: 4rem;
  }
}

.wishlist {
  overflow: hidden;
  overflow-y: scroll;
}

@media screen and (max-width: 800px) {
  .dashboard-pc {
    display: none;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0px;
    margin: 0px;
  }
  .dashboard-mob {
    display: block;
    top: -160px;
    margin: '0rem 1rem';
    overflow: hidden;
    overflow-y: scroll;
  }
  .description-image2 {
    display: none;
  }
  .description-carousel-pc {
    display: none;
  }
  .description-carousel-mob {
    display: block;
  }
}

@media screen and (min-width: 801px) {
  .dashboard-pc {
    display: block;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0px;
    margin: 0px;
  }
  .dashboard-mob {
    display: none;
  }
  .description-carousel-mob {
    display: none;
  }
  .description-carousel-pc {
    display: block;
  }
}

.dashboard-div {
  overflow: hidden;
}
